[submodule "42cursus/minishell"]
	path = 42cursus/minishell
	url = https://github.com/Chloekkk/minishell
[submodule "42cursus/cpp-modules"]
	path = 42cursus/cpp-modules
	url = https://github.com/Kimhan-nah/cpp-modules
[submodule "42cursus/cub3D"]
	path = 42cursus/cub3D
	url = https://github.com/Chloekkk/cub3D
[submodule "42cursus/inception"]
	path = 42cursus/inception
	url = https://github.com/Kimhan-nah/inception.git
[submodule "ft_containers"]
	path = 42cursus/ft_containers
	url = https://github.com/Kimhan-nah/ft_containers.git
