[submodule "42cursus/minishell"]
	path = 42cursus/minishell
	url = https://github.com/Chloekkk/minishell
[submodule "cpp-modules"]
	path = cpp-modules
	url = https://github.com/Kimhan-nah/cpp-modules
[submodule "42cursus/cpp-modules"]
	path = 42cursus/cpp-modules
	url = https://github.com/Kimhan-nah/cpp-modules
